*{
  padding: 0%;
  margin: 0%;
}
.Register{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;


}
.Register__form{
  padding: 1rem;
  padding-top: 0%;
  
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
 
 max-width: 50%;
  
}
.Register__form>*{
  margin-top: 1rem;
  padding: .5rem;
  border-radius: 5px;
  
}

.form__submit{
  background-color: blue;
  color: white;
  outline: none;
  padding: .8rem;
  box-shadow: none;
  border-color: white;
  border: none;
}

.form__child{
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  

}
.calc-app {
  padding: 1rem;
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
  margin: 0 auto;
  margin-top: 40px;
  width: 256px;
  text-align: center;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}
#data[type="text"] {
  height: 60px;
  border:none;
  outline: 0;
}

#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: red;
}

#result {
  grid-column: 3/5;
  grid-row: 5;
  color: green;
}

#backspace {
  color: orangered;
}